@model ShopVM

@{
    ViewData["Title"] = "Index";
}

@section css{
    <link rel="stylesheet" href="~/assets/scss/Shop/shop.css">
}

<main>
    <section id="caption-photo">
        <div class="back-part">
            <div class="container">
                <h1>List</h1>
                <p>Shop</p>
            </div>
        </div>
    </section>

    <section id="links">
        <div class="container">
            <div class="all-links">
                <a asp-controller="Home" asp-action="Index">Home</a>
                <i class="fa-solid fa-chevron-right"></i>
                <a asp-controller="Shop" asp-action="Index">Shop</a>
                <i class="fa-solid fa-chevron-right"></i>
                <span>List</span>
            </div>
        </div>
    </section>

    <section id="settings">
        <div class="all">
            <div class="button">
                <i class="fa-solid fa-gear"></i>
            </div>
        </div>
    </section>

    <section id="shop">
        <div class="all">
            <div class="container">
                <div class="row">
                    <div class="col3">
                        <div class="left-part">
                            <div class="filters">
                                <h6>Filters:</h6>
                                <span>Clean All</span>
                            </div>
                            <div class="accordion" id="accordionPanelsStayOpenExample">
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                                data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true"
                                                aria-controls="panelsStayOpen-collapseOne">
                                            Category
                                        </button>
                                    </h2>
                                    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show"
                                         aria-labelledby="panelsStayOpen-headingOne">
                                        <div class="accordion-body category">                                          
                                            @foreach (var item in Model.Categories)
                                            {
                                                <div class="each-category">
                                                    <span><a href="" data-id="@item.Id" style="text-decoration:none; color: #757575;">@item.Name</a></span>
                                                    <p>8</p>
                                                </div>
                                            }                                         
                                       
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                                        <button class="accordion-button collapsed" type="button"
                                                data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo"
                                                aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                                            Size
                                        </button>
                                    </h2>
                                    <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse show"
                                         aria-labelledby="panelsStayOpen-headingTwo">
                                        <div class="accordion-body size">
                                            <div class="each-input">
                                                <input type="checkbox">
                                                <label for="">Extra Small</label>
                                            </div>
                                            <div class="each-input">
                                                <input type="checkbox">
                                                <label for="">Small</label>
                                            </div>
                                            <div class="each-input">
                                                <input type="checkbox">
                                                <label for="">Medium</label>
                                            </div>
                                            <div class="each-input">
                                                <input type="checkbox">
                                                <label for="">Large</label>
                                            </div>
                                            <div class="each-input">
                                                <input type="checkbox">
                                                <label for="">Extra Large</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                                        <button class="accordion-button collapsed" type="button"
                                                data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree"
                                                aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                                            Colour
                                        </button>
                                    </h2>
                                    <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse show"
                                         aria-labelledby="panelsStayOpen-headingThree">
                                        <div class="accordion-body colour">

                                            <button style="background-color: #cc9967;"></button>
                                            <button style="background-color: #669932;"></button>

                                            <button style="background-color: #3399cc;"></button>
                                            <button style="background-color: #cc3334;"></button>
                                            <button style="background-color: #eaf827;"></button>
                                            <button style="background-color: #333333;"></button>
                                            <button style="background-color: #999999;"></button>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="panelsStayOpen-headingFour">
                                        <button class="accordion-button collapsed" type="button"
                                                data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour"
                                                aria-expanded="false" aria-controls="panelsStayOpen-collapseFour">
                                            Brand
                                        </button>
                                    </h2>
                                    <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse show"
                                         aria-labelledby="panelsStayOpen-headingFour">
                                        <div class="accordion-body brands">
                                            <div class="each-input">
                                                <input type="checkbox">
                                                <label for="">Next</label>
                                            </div>
                                            <div class="each-input">
                                                <input type="checkbox">
                                                <label for="">River Island</label>
                                            </div>
                                            <div class="each-input">
                                                <input type="checkbox">
                                                <label for="">Geox</label>
                                            </div>
                                            <div class="each-input">
                                                <input type="checkbox">
                                                <label for="">New Balance</label>
                                            </div>
                                            <div class="each-input">
                                                <input type="checkbox">
                                                <label for="">UGG</label>
                                            </div>
                                            <div class="each-input">
                                                <input type="checkbox">
                                                <label for="">F&F</label>
                                            </div>
                                            <div class="each-input">
                                                <input type="checkbox">
                                                <label for="">Nike</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="panelsStayOpen-headingFive">
                                        <button class="accordion-button collapsed" type="button"
                                                data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFive"
                                                aria-expanded="false" aria-controls="panelsStayOpen-collapseFive">
                                            Price
                                        </button>
                                    </h2>
                                    <div id="panelsStayOpen-collapseFive" class="accordion-collapse collapse show"
                                         aria-labelledby="panelsStayOpen-headingFive">
                                        <div class="accordion-body price">
                                            <div class="up">
                                                <span>
                                                    Price Range:
                                                    <p>$</p>
                                                    <p class="zero">0</p>
                                                    <p> - $</p>
                                                    <p class="thousand">1000</p>
                                                </span>
                                                <p>Filter</p>
                                            </div>
                                            <div class="bottom">
                                                <div class="range">
                                                    <div class="range-slider">
                                                        <span class="range-selected"></span>
                                                    </div>
                                                    <div class="range-input">
                                                        <input type="range" class="min" min="0" max="1000" value="0"
                                                               step="50">
                                                        <input type="range" class="max" min="0" max="1000" value="1000"
                                                               step="50">
                                                    </div>
                                                    <div class="range-price">
                                                        <p style="color: #fcb941;">$</p>
                                                        <input type="number" min="0" max="1000" class="min" name="min" value="0">
                                                        <p style="color: #fcb941;" class="max-part">$</p>
                                                        <input type="number" min="0" max="1000" class="max" name="max" value="1000">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col9">
                        <div class="infos">
                            <h6>Showing <strong>5 of 50</strong> Products</h6>
                            <div class="sorting">
                                <span>Sort by:</span>
                                <div class="dropdown">
                                    <button class="btn btn-secondary dropdown-toggle" type="button"
                                            data-bs-toggle="dropdown" aria-expanded="false">
                                        Default
                                    </button>
                                    <ul class="dropdown-menu">
                                        <i class="fa-solid fa-check check"></i>
                                        <li><a class="dropdown-item" href="#">Default</a></li>
                                        <li><a class="dropdown-item" href="#">Most Popular</a></li>
                                        <li><a class="dropdown-item" href="#">Most Rated</a></li>
                                        <li><a class="dropdown-item" href="#">Date</a></li>
                                    </ul>
                                </div>
                                <div class="seen-style">
                                    <i class="fa-solid fa-grip"></i>
                                    <i class="fa-solid fa-grip" style="color: #cfcfcf;"></i>
                                    <i class="fa-solid fa-grip" style="color: #cfcfcf;"></i>
                                    <i class="fa-solid fa-grip" style="color: #cfcfcf;"></i>
                                </div>
                            </div>
                        </div>

                        <div class="each-cards">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-3 col-md-3 col-6">
                                        <div class="left">
                                            <p>Top</p>
                                            <img src="~/assets/imgs/Shop/shop1.jpeg" alt="">
                                        </div>
                                    </div>
                                    <div class="col-md-6 order-last">
                                        <div class="middle">
                                            <span>Women</span>
                                            <h6>Beige metal hoop tote bag</h6>
                                            <p>
                                                Sed egestas, ante et vulputate volutpat, eros pede semper est, vitae
                                                luctus metus
                                                libero eu augue. Morbi purus libero, faucibus adipiscing. Sed
                                                lectus.
                                            </p>
                                            <button style="background-color: #333333;"></button>
                                            <button style="background-color: #3399cc;"></button>
                                            <button style="background-color: #669932;"></button>
                                            <button style="background-color: #cc3334;"></button>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-6 order-md-last order-lg-last">
                                        <div class="right">
                                            <span>$75.00–$80.00</span>
                                            <div class="stars">
                                                <i class="fa-solid fa-star" style="color: #fcb941;"></i>
                                                <i class="fa-solid fa-star" style="color: #fcb941;"></i>
                                                <i class="fa-solid fa-star" style="color: #fcb941;"></i>
                                                <i class="fa-solid fa-star" style="color: #fcb941;"></i>
                                                <i class="fa-solid fa-star" style="color: #cccccc;"></i>
                                                <p class="reviews">( 2 Reviews )</p>
                                            </div>
                                            <div class="icons">
                                                <div class="left-icon">
                                                    <i class="fa-solid fa-binoculars"></i>
                                                    <span>quick view</span>
                                                </div>
                                                <div class="right-icon">
                                                    <i class="fa-regular fa-heart"></i>
                                                    <span>wishlist</span>
                                                </div>
                                            </div>
                                            <button><i class="fa-solid fa-list-check"></i>Select Options</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="each-cards">
                            <div class="container">
                                <div class="row">
                                    <div class="col-6 col-md-3 col-lg-3">
                                        <div class="left">
                                            <img src="~/assets/imgs/Shop/shop2.jpeg" alt="">
                                        </div>
                                    </div>
                                    <div class="col-md-6 order-last">
                                        <div class="middle">
                                            <span>Women</span>
                                            <h6>Beige metal hoop tote bag</h6>
                                            <p>
                                                Morbi purus libero, faucibus adipiscing, commodo quis, gravida id,
                                                est.
                                                Sed lectus. Praesent elementum hendrerit tortor. Sed semper lorem at
                                                felis. Vestibulum volutpat, lacus...
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-6 order-md-last order-lg-last">
                                        <div class="right">
                                            <span>$55.00</span>
                                            <div class="stars">
                                                <i class="fa-solid fa-star" style="color: #fcb941;"></i>
                                                <i class="fa-solid fa-star" style="color: #fcb941;"></i>
                                                <i class="fa-solid fa-star" style="color: #fcb941;"></i>
                                                <i class="fa-solid fa-star" style="color: #cccccc;"></i>
                                                <i class="fa-solid fa-star" style="color: #cccccc;"></i>
                                                <p class="reviews">( 2 Reviews )</p>
                                            </div>
                                            <div class="icons">
                                                <div class="left-icon">
                                                    <i class="fa-solid fa-binoculars"></i>
                                                    <span>quick view</span>
                                                </div>
                                                <div class="right-icon">
                                                    <i class="fa-regular fa-heart"></i>
                                                    <span>wishlist</span>
                                                </div>
                                            </div>
                                            <button><i class="fa-solid fa-cart-plus"></i></i>Add to cart</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="each-cards">
                            <div class="container">
                                <div class="row">
                                    <div class="col-6 col-md-3 col-lg-3">
                                        <div class="left">
                                            <img src="~/assets/imgs/Shop/shop3.jpeg" alt="">
                                        </div>
                                    </div>
                                    <div class="col-md-6 order-last">
                                        <div class="middle">
                                            <span>Women</span>
                                            <h6>Beige V neck button cardigan</h6>
                                            <p>
                                                Sed egestas, ante et vulputate volutpat, eros pede semper est, vitae
                                                luctus metus libero eu augue. Morbi purus libero, faucibus
                                                adipiscing.
                                                Sed lectus.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-6 order-md-last order-lg-last">
                                        <div class="right">
                                            <span>$72.00</span>
                                            <div class="stars">
                                                <i class="fa-solid fa-star" style="color: #cccccc;"></i>
                                                <i class="fa-solid fa-star" style="color: #cccccc;"></i>
                                                <i class="fa-solid fa-star" style="color: #cccccc;"></i>
                                                <i class="fa-solid fa-star" style="color: #cccccc;"></i>
                                                <i class="fa-solid fa-star" style="color: #cccccc;"></i>
                                                <p class="reviews">( 2 Reviews )</p>
                                            </div>
                                            <div class="icons">
                                                <div class="left-icon">
                                                    <i class="fa-solid fa-binoculars"></i>
                                                    <span>quick view</span>
                                                </div>
                                                <div class="right-icon">
                                                    <i class="fa-regular fa-heart"></i>
                                                    <span>wishlist</span>
                                                </div>
                                            </div>
                                            <button><i class="fa-solid fa-cart-plus"></i></i>Add to cart</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="each-cards">
                            <div class="container">
                                <div class="row">
                                    <div class="col-6 col-md-3 col-lg-3">
                                        <div class="left">
                                            <img src="~/assets/imgs/Shop/shop4.jpeg" alt="">
                                        </div>
                                    </div>
                                    <div class="col-md-6 order-last">
                                        <div class="middle">
                                            <span>Women</span>
                                            <h6>Black denim dungaree dress</h6>
                                            <p>
                                                Sed egestas, ante et vulputate volutpat, eros pede semper est, vitae
                                                luctus metus libero eu augue. Morbi purus libero, faucibus
                                                adipiscing.
                                                Sed lectus.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-6 order-md-last order-lg-last">
                                        <div class="right">
                                            <span>$60.00</span>
                                            <div class="stars">
                                                <i class="fa-solid fa-star" style="color: #cccccc;"></i>
                                                <i class="fa-solid fa-star" style="color: #cccccc;"></i>
                                                <i class="fa-solid fa-star" style="color: #cccccc;"></i>
                                                <i class="fa-solid fa-star" style="color: #cccccc;"></i>
                                                <i class="fa-solid fa-star" style="color: #cccccc;"></i>
                                                <p class="reviews">( 2 Reviews )</p>
                                            </div>
                                            <div class="icons">
                                                <div class="left-icon">
                                                    <i class="fa-solid fa-binoculars"></i>
                                                    <span>quick view</span>
                                                </div>
                                                <div class="right-icon">
                                                    <i class="fa-regular fa-heart"></i>
                                                    <span>wishlist</span>
                                                </div>
                                            </div>
                                            <button><i class="fa-solid fa-cart-plus"></i></i>Add to cart</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="each-cards">
                            <div class="container">
                                <div class="row">
                                    <div class="col-6 col-md-3 col-lg-3">
                                        <div class="left">
                                            <img src="~/assets/imgs/Shop/shop5.jpeg" alt="">
                                        </div>
                                    </div>
                                    <div class="col-md-6 order-last">
                                        <div class="middle">
                                            <span>Boots, Shoes, Women</span>
                                            <h6>Black faux leather chain trim sandals</h6>
                                            <p>
                                                Morbi purus libero, faucibus adipiscing, commodo quis, gravida id,
                                                est.
                                                Sed lectus. Praesent elementum hendrerit tortor. Sed semper lorem at
                                                felis. Vestibulum volutpat, lacus...
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-6 order-md-last order-lg-last">
                                        <div class="right">
                                            <span>$90.00</span>
                                            <div class="stars">
                                                <i class="fa-solid fa-star" style="color: #cccccc;"></i>
                                                <i class="fa-solid fa-star" style="color: #cccccc;"></i>
                                                <i class="fa-solid fa-star" style="color: #cccccc;"></i>
                                                <i class="fa-solid fa-star" style="color: #cccccc;"></i>
                                                <i class="fa-solid fa-star" style="color: #cccccc;"></i>
                                                <p class="reviews">( 2 Reviews )</p>
                                            </div>
                                            <div class="icons">
                                                <div class="left-icon">
                                                    <i class="fa-solid fa-binoculars"></i>
                                                    <span>quick view</span>
                                                </div>
                                                <div class="right-icon">
                                                    <i class="fa-regular fa-heart"></i>
                                                    <span>wishlist</span>
                                                </div>
                                            </div>
                                            <button><i class="fa-solid fa-cart-plus"></i></i>Add to cart</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @foreach (var item in Model.Product)
                       {
                            <a asp-controller="Product" asp-action="Index" asp-route-id="@item.Id" style="text-decoration:none;color:black">
                        <div class="each-cards d-none" data-id="@item.CategoryId">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-lg-3 col-md-3 col-6">
                                            <div class="left">
                                                @Html.Raw(item.New)
                                                @Html.Raw(item.Top)
                                                
                                                    <img src="~/assets/imgs/Shop/@item.Images?.Where(m=>m.IsMain).FirstOrDefault()?.Image" alt="">
                                                
                                            </div>
                                        </div>
                                        <div class="col-md-6 order-last">
                                            <div class="middle">
                                                <span>@item.Title</span>
                                                <h6>@item.Name</h6>
                                                <p>
                                                  @item.Description
                                                </p>
                                                @Html.Raw(item.Color)
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-6 order-md-last order-lg-last">
                                            <div class="right">
                                                <span>$@item.Price</span>
                                                <div class="stars">
                                                    @Html.Raw(item.Stars)
                                                    <p class="reviews">( 2 Reviews )</p>
                                                </div>
                                                <div class="icons">
                                                    <div class="left-icon">
                                                        <i class="fa-solid fa-binoculars"></i>
                                                        <span>quick view</span>
                                                    </div>
                                                    <div class="right-icon">
                                                        <i class="fa-regular fa-heart"></i>
                                                        <span>wishlist</span>
                                                    </div>
                                                </div>
                                                <button><i class="fa-solid fa-list-check"></i>Select Options</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>                            
                             </div>
                              </a>
                        }                      

                        <nav aria-label="Page navigation example" class="pagination">
                            <ul class="pagination justify-content-center">
                                <li class="page-item disabled">
                                    <a class="page-link">
                                        <i class="fa-solid fa-arrow-left-long left"></i>Previous
                                    </a>
                                </li>
                                <li class="page-item first"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item disabled"><a class="page-link" href="#">of 4</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="#">
                                        Next<i class="fa-solid fa-arrow-right-long right"></i>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="filter-for-phone">
        <div class="all hide-filter">
            <div class="container">
                <div class="col3">
                    <div class="filters">
                        <h6>Filters:</h6>
                        <span>Clean All</span>
                    </div>
                    <div class="accordion" id="accordionPanelsStayOpenExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true"
                                        aria-controls="panelsStayOpen-collapseOne">
                                    Category
                                </button>
                            </h2>
                            <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show"
                                 aria-labelledby="panelsStayOpen-headingOne">
                                <div class="accordion-body category">
                                    <div class="each-category">
                                        <span>Furniture</span>
                                        <p>8</p>
                                    </div>
                                    <div class="each-category">
                                        <span>Coffee & Tables</span>
                                        <p>1</p>
                                    </div>
                                    <div class="each-category">
                                        <span>Lighting</span>
                                        <p>3</p>
                                    </div>
                                    <div class="each-category">
                                        <span>Decoration</span>
                                        <p>5</p>
                                    </div>
                                    <div class="each-category">
                                        <span>Electronics</span>
                                        <p>1</p>
                                    </div>
                                    <div class="each-category">
                                        <span>Beds</span>
                                        <p>2</p>
                                    </div>
                                    <div class="each-category">
                                        <span>Armchairs & Chaises</span>
                                        <p>3</p>
                                    </div>
                                    <div class="each-category">
                                        <span>Sofas & Sleeper Sofas</span>
                                        <p>1</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false"
                                        aria-controls="panelsStayOpen-collapseTwo">
                                    Size
                                </button>
                            </h2>
                            <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse show"
                                 aria-labelledby="panelsStayOpen-headingTwo">
                                <div class="accordion-body size">
                                    <div class="each-input">
                                        <input type="checkbox">
                                        <label for="">Extra Small</label>
                                    </div>
                                    <div class="each-input">
                                        <input type="checkbox">
                                        <label for="">Small</label>
                                    </div>
                                    <div class="each-input">
                                        <input type="checkbox">
                                        <label for="">Medium</label>
                                    </div>
                                    <div class="each-input">
                                        <input type="checkbox">
                                        <label for="">Large</label>
                                    </div>
                                    <div class="each-input">
                                        <input type="checkbox">
                                        <label for="">Extra Large</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false"
                                        aria-controls="panelsStayOpen-collapseThree">
                                    Colour
                                </button>
                            </h2>
                            <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse show"
                                 aria-labelledby="panelsStayOpen-headingThree">
                                <div class="accordion-body colour">
                                    <button style="background-color: #cc9967;"></button>
                                    <button style="background-color: #3399cc;"></button>
                                    <button style="background-color: #9966cc;"></button>
                                    <button style="background-color: #333333;"></button>
                                    <button style="background-color: #669932;"></button>
                                    <button style="background-color: #cc3334;"></button>
                                    <button style="background-color: #999999;"></button>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="panelsStayOpen-headingFour">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false"
                                        aria-controls="panelsStayOpen-collapseFour">
                                    Brand
                                </button>
                            </h2>
                            <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse show"
                                 aria-labelledby="panelsStayOpen-headingFour">
                                <div class="accordion-body brands">
                                    <div class="each-input">
                                        <input type="checkbox">
                                        <label for="">Next</label>
                                    </div>
                                    <div class="each-input">
                                        <input type="checkbox">
                                        <label for="">River Island</label>
                                    </div>
                                    <div class="each-input">
                                        <input type="checkbox">
                                        <label for="">Geox</label>
                                    </div>
                                    <div class="each-input">
                                        <input type="checkbox">
                                        <label for="">New Balance</label>
                                    </div>
                                    <div class="each-input">
                                        <input type="checkbox">
                                        <label for="">UGG</label>
                                    </div>
                                    <div class="each-input">
                                        <input type="checkbox">
                                        <label for="">F&F</label>
                                    </div>
                                    <div class="each-input">
                                        <input type="checkbox">
                                        <label for="">Nike</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="panelsStayOpen-headingFive">
                                <button class="accordion-button collapsed" type="button"
                                        data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFive"
                                        aria-expanded="false" aria-controls="panelsStayOpen-collapseFive">
                                    Price
                                </button>
                            </h2>
                            <div id="panelsStayOpen-collapseFive" class="accordion-collapse collapse show"
                                 aria-labelledby="panelsStayOpen-headingFive">
                                <div class="accordion-body price">
                                    <div class="up">
                                        <span>
                                            Price Range:
                                            <p>$</p>
                                            <p class="zero">0</p>
                                            <p> - $</p>
                                            <p class="thousand">1000</p>
                                        </span>
                                        <p>Filter</p>
                                    </div>
                                    <div class="bottom">
                                        <div class="range">
                                            <div class="sliderR">
                                                <span class="selected-range"></span>
                                            </div>
                                            <div class="input-range">
                                                <input type="range" class="min" min="0" max="1000" value="0"
                                                       step="50">
                                                <input type="range" class="max" min="0" max="1000" value="1000"
                                                       step="50">
                                            </div>
                                            <div class="price-range">
                                                <p style="color: #fcb941;">$</p>
                                                <input disabled type="number" min="0" max="1000" class="min" name="min" value="0">
                                                <p style="color: #fcb941;" class="max-part">$</p>
                                                <input disabled type="number" min="0" max="1000" class="max" name="max" value="1000">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="scrollBtn">
        <div class="btn">
            <i class="fa-solid fa-arrow-up-long"></i>
        </div>
    </section>
</main>


@section Scripts{
    <script src="~/assets/js/shop.js"></script>
    <script src="~/assets/js/shoppart.js"></script>

    }

